<%- include('dashboardheader') %>

<div class="item item3 main cart">
    <div class="container dashboardcart" >
        <br/><br/>
        <h1>Welcome to Cart</h1>
        
        <p style="color: whitesmoke;" id="number-of-orders"></p>
        <h1><a href="/dashboardgetstarted">Order Here</a></h1><br/>
        <h1 id="current-remove-button"></h1>

        <% if(msg !='') { %>
        <h1><%= msg %> </h1>
        <% } %>
                      
        <% if(currentCustomerAccountUserCartItems.length > 0){ %>
            
            <% currentCustomerAccountUserCartItems.forEach(element => { %>
            <div class="cart-items"><!--cart-items start here-->
                <div class="cart-row"><!--cart-row starts here-->                
                <table class="table-class">
                    <caption style="color: whitesmoke; justify-content: left;">
                        <span><strong>Order Id: </strong></span><span class="item-id" style="padding-left: .7em;"> <%= element._id %></span>
                    </caption>
                    <caption style="color: whitesmoke; justify-content: left;">
                        <span><strong>Dated: </strong></span><span style="padding-left: .7em;"> <%= element.Date %></span>
                    </caption>
                    <caption style="color: whitesmoke; justify-content: left;">
                        <span><strong>Session Id: </strong></span><span class="session-id" style="padding-left: .7em;"> <%= element.SessionId %></span>
                    </caption>
                    <caption style="color: whitesmoke; justify-content: left;">
                        <span><strong>Payment Status: </strong></span><span class="session-id" style="padding-left: .7em;"><%= element.PaymentStatus %></span>
                    </caption>
                    <tr>
                        <th colspan="3">Cart Items</th>
                    </tr>
                    <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Service Cost</th></tr>
                    <tr>
                        <td class="template-option"><%= element.TemplateOption %></td>
                        <td class="template-completing-estimated-time">
                            <% if(element.TemplateOption && element.TemplateOption != 'Select Template') { %>
                              <%= element.TemplateOptionEstimatedTime %> 
                            <% } %> 
                        </td>
                        <td class="template-price">
                            <% if(element.TemplateOption && element.TemplateOption != 'Select Template') { %>
                                <%= element.TemplateOptionPrice %> 
                            <% } %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th colspan="3">Basic Features Selected</th>                    
                    </tr>
                    
                    <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Service Cost</th></tr>
                    <tr>                    
                        <td class="homepage"><%= element.Home %></td>                    
                        <td class="homepage-content-estimated-time">
                            <% if(element.Home ) { %>
                                <%= element.HomePageEstimatedTime %> 
                            <% } %> 
                        </td>
                        <td class="homepage-price">
                            <% if(element.Home ) { %>
                                <%= element.HomePagePrice %> 
                            <% } %> 
                        </td>                    
                       
                    </tr>                
                    <tr>
                        <td class="aboutpage"><%= element.About %></td>                    
                        <td class="aboutpage-content-estimated-time">
                            <% if(element.About) { %>
                                <%= element.AboutEstimatedTime %> 
                            <% } %> 
                        </td>
                        <td class="aboutpage-price">
                            <% if(element.About) { %>
                                <%= element.AboutPrice %> 
                            <% } %>
                        </td>           
                        
                   </tr>
                    <tr>
                        <td class="servicespage"><%= element.Services %></td>
                        <td class="servicespage-content-estimated-time">
                            <% if(element.Services ) { %>
                                <%= element.ServicesEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="servicespage-price">
                            <% if(element.Services ) { %>
                                <%= element.ServicesPrice %> 
                            <% } %>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="whyuspage"><%= element.WhyUs %></td>
                        <td class="whyuspage-content-estimated-time">
                            <% if(element.WhyUs ) { %>
                                <%= element.WhyUsEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="whyuspage-price">
                            <% if(element.WhyUs ) { %>
                                <%= element.WhyUsPrice %> 
                            <% } %>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="contactuspage"><%= element.ContactUs %></td>
                        <td class="contactuspage-content-estimated-time">
                            <% if(element.ContactUs ) { %>
                                <%= element.ContactUsEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="contactuspage-price">
                            <% if(element.ContactUs ) { %>
                                <%= element.ContactUsPrice %> 
                            <% } %>
                        </td>
                                        
                    <tr>
                        <td class="socialmediafeature"><%= element.SocialMedia %></td>
                        <td class="socialmediafeature-content-estimated-time">
                            <% if(element.SocialMedia ) { %>
                                <%= element.SocialMediaEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="socialmediafeature-price">
                            <% if(element.SocialMedia ) { %>
                                <%= element.SocialMediaPrice %> 
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td class="policypage"><%= element.Policy %></td>
                        <td class="policypage-content-estimated-time">
                            <% if(element.Policy ) { %>
                                <%= element.PolicyEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="policypage-price">
                            <% if(element.Policy ) { %>
                                <%= element.PolicyPrice %> 
                            <% } %>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="termsandconditions"><%= element.TermsAndConditions %></td>
                        <td class="termsandconditions-content-estimated-time">
                            <% if(element.TermsAndConditions ) { %>
                                <%= element.TermsAndConditionsEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="termsandconditions-price">
                            <% if(element.TermsAndConditions ) { %>
                                <%= element.TermsAndConditionsPrice %> 
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td class="copyright"><%= element.CopyRight %></td>
                        <td class="copyright-content-estimated-time">
                            <% if(element.CopyRight ) { %>
                                <%= element.CopyRightEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="copyright-price">
                            <% if(element.CopyRight ) { %>
                                <%= element.CopyRightPrice %> 
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td class="logo"><%= element.Logo %></td>
                        <td class="logo-estimated-time">
                             
                            <% if(element.Logo) { %>
                                <%= element.LogoPurchasingEstimatedTime %> 
                            <% } %> 
                        </td>
                        

                        <td class="logo-price">
                            
                            <% if(element.Logo && element.Logo.substring(0, 18) == 'I want to buy Logo') { %>
                                <%= element.LogoPurchasingPrice %> 
                            <% } %>
                            <% if(element.Logo && element.Logo.substring(0, 18) == 'I have my own Logo'){ %>
                                <%= element.LogoByCustomerPrice %>
                            <% } %>
                             
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <th colspan="3">Basic Features Content</th>
                    </tr>
                    <tr>
                        <th>Name</th><th colspan="2">Content</th>
                    </tr>
                    <tr>
                        <th>Home Page Content: </th>
                        <td class="home-content" colspan="2">
                            <p>
                                <%= element.HomePageContent %>
                            </p>                            
                             
                        </td>                                       
                    </tr> 
                    <!--
                    <tr>
                        <th rowspan="2">Home Page Content: </th>
                        <td class="home-content" colspan="2">
                            <strong>Text Content:</strong><br/>
                            <%= element.HomePageContent %> 
                        </td>                                       
                    </tr>                    
                    <tr>
                        <td colspan="2">
                            <strong>Uploaded Files Content:</strong><br/>
                            <img src="#" alt="Home Content Image"/>
                        </td>
                    </tr>
                    -->
                    <tr>
                        <th>About Content: </th>
                        <td class="about-content" colspan="2"> 
                            <p>
                                <%= element.AboutContent %> 
                            </p>                    
                        </td>                                       
                    </tr>                    
    
                    <tr>
                        <th>Services Content: </th>
                        <td class="services-content" colspan="2">
                            <p>
                                <%= element.ServicesContent %>
                            </p>                            
                             
                        </td>                                       
                    </tr>
                        
                    <tr>
                        <th>Why Us Content: </th>
                        <td class="whyus-content" colspan="2">
                            <p>
                                <%= element.WhyUsContent %>
                            </p>                            
                             
                        </td>                                       
                    </tr>
                        
                    <tr>
                        <th>Address: </th>
                        <td class="address-content" colspan="2">
                            <strong>Address:</strong><br/>
                            <p>
                                <address>
                                    <%= element.Address %>
                                </address>
                                
                            </p>
                             
                        </td>                                       
                    </tr>
                    <tr>
                        <th >Phone Number: </th>
                        <td class="phone-content" colspan="2" >
                            <strong>Phone Number:</strong><br/>
                            <p>
                                <%= element.PhoneNumber %>
                            </p>
                             
                        </td>                                       
                    </tr>
                    
    
                    <tr>
                        <th>Social Media Link: </th>
                        <td class="socialmedia-link" colspan="2"> 
                            <strong>Social Media Link: </strong><br/>
                            <p>
                                <%= element.SocialMediaLink %> <br/>
                            </p>                       
                            
                        </td>                                       
                    </tr>
                    
    
                    <tr>
                        <th>Policy Content: </th>
                        <td class="policy-content" colspan="2">
                            <strong>Text Content:</strong><br/>
                            <%= element.PolicyContent %> 
                        </td>                                       
                    </tr>

                    <tr>
                        <th>Terms & Conditions Content: </th>
                        <td class="termsandconditions-content" colspan="2">
                            <p>
                                <%= element.TermsAndConditionsContent %>
                            </p>
                             
                        </td>                                       
                    </tr>                    
    
                    <tr>
                        <th>Copy Right Content: </th>
                        <td class="copyright-content" colspan="2"> 
                            <p>
                                <%= element.CopyRightContent %>
                            </p>                           
                             
                        </td>                                       
                    </tr>                    
                    <tr>
                        <th>Logo Image: </th>
                        <td class="logo-image" colspan="2">
                            <div>
                                <img src="./uploads/<%= element.UploadContentForLogo %> " width="150px" height="150px" alt="Photo Gallery Content Image" style="margin: auto;"/>
                            </div>
                            
                        </td>                                       
                    </tr>
                    

                    <tr>
                        <th colspan="3">External Features Selected</th>
                    </tr>
                    <tr>                    
                        <td class="galleryfeature">
                            <%= element.Gallery %>                            
                        </td>                    
                        <td class="galleryfeature-content-estimated-time">
                            <% if(element.Gallery) { %>
                                <%= element.GalleryEstimatedTime %> 
                              <% } %> 
                        </td>
                        <td class="galleryfeature-price">
                            <% if(element.Gallery) { %>
                                <%= element.GalleryPrice %> 
                              <% } %> 
                        </td>                    
                       
                    </tr> 
                    
                    <tr>                    
                        <td class="templatesfeature"><%= element.Templates %></td>                    
                        <td class="templatesfeature-content-estimated-time">
                            <% if(element.Templates) { %>
                                <%= element.TemplatesFeatureEstimatedTime %> 
                              <% } %> 
                        </td>
                        <td class="templatesfeature-price">
                            <% if(element.Templates) { %>
                                <%= element.TemplatesFeaturePrice %> 
                              <% } %> 
                        </td>                    
                       
                    </tr>                
    
                    <tr>                    
                        <td class="menupage"><%= element.Menu %></td>                    
                        <td class="menupage-content-estimated-time">
                            <% if(element.Menu) { %>
                                <%= element.MenuEstimatedTime %> 
                              <% } %> 
                        </td>
                        <td class="menupage-price">
                            <% if(element.Menu) { %>
                                <%= element.MenuPrice %> 
                              <% } %>
                        </td>                    
                       
                    </tr>   
    
    
                    <tr>
                        <th colspan="3">External Features Content</th>
                    </tr>
                    
                    <tr>
                        <th>Name</th><th colspan="2">Content</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Photo Gallery Content: </th>
                        <td class="photogallery-content" colspan="2">
                            <strong>Text Content:</strong><br/>
                            <p>
                                <%= element.TextContentForGallery %>
                            </p>
                             
                        </td>                                       
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Uploaded Files Content:</strong><br/>
                            <div>
                                <img src="./uploads/<%= element.UploadContentForGalleryOne %> " width="150px" height="150px" alt="Photo Gallery Content Image"/>
                            </div>
                            
                        </td>
                    </tr>
    
                    <tr>
                        <th rowspan="2">Templates Feature Content: </th>
                        <td class="template-content" colspan="2">
                            <strong>Text Content:</strong><br/>
                            <p>
                                <%= element.TextContentForTemplates %> 
                            </p>
                            
                        </td>                                       
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Uploaded Files Content:</strong><br/>
                            <div>
                                <img src="./uploads/<%= element.UploadContentForTemplates %>" width="150px" height="150px" alt="Templates Content Image"/>
                            </div>
                            
                        </td>
                    </tr>
    
                    <tr>
                        <th rowspan="2">Menu Content: </th>
                        <td class="menu-content" colspan="2">
                            <strong>Text Content:</strong><br/>
                            <p>
                                <%= element.TextContentForMenu %> 
                            </p>
                            
                        </td>                                       
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Uploaded Files Content:</strong><br/>
                            <div>
                                <img src="./uploads/<%= element.UploadContentForMenu %> " width="150px" height="150px" alt="Menu Content Image"/>
                            </div>
                            
                        </td>
                    </tr>
    
    
                    <tr>
                        <th colspan="3">Advanced Features Selected</th>                    
                    </tr>
                    
                    <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Cost</th></tr>
                    <tr>                    
                        <td class="registerloginpage"><%= element.RegisterLogin %></td>                    
                        <td class="registerloginpage-content-estimated-time">
                            <% if(element.RegisterLogin) {%>
                                <%= element.RegisterLoginEstimatedTime %> 
                            <% } %>  
                        </td>
                        <td class="registerloginpage-price">
                            <% if(element.RegisterLogin) {%>
                                <%= element.RegisterLoginPrice %> 
                            <% } %>  
                        </td>                    
                       
                    </tr> 
                    <tr>                    
                        <td class="contactuswithform"><%= element.ContactUsForm %></td>                    
                        <td class="contactuswithform-content-estimated-time">
                            <% if(element.ContactUsForm) {%>
                                <%= element.ContactUsWithFormEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="contactuswithform-price">
                            <% if(element.ContactUsForm) {%>
                                <%= element.ContactUsWithFormPrice %> 
                            <% } %>
                        </td>                   
                       
                    </tr> 
                    <tr>                    
                        <td class="paymentmethod"><%= element.PaymentMethod %></td>                    
                        <td class="paymentmethod-content-estimated-time">
                            <% if(element.PaymentMethod) {%>
                                <%= element.PaymentMethodEstimatedTime %> 
                            <% } %>
                        </td>
                        <td class="paymentmethod-price">
                            <% if(element.PaymentMethod) {%>
                                <%= element.PaymentMethodPrice %> 
                            <% } %>
                        </td>                   
                       
                    </tr> 
                    
                    <tr>
                        <th colspan="3">Advanced Features Content</th>
                    </tr>
                    
                    <tr>
                        <th>Name</th><th colspan="2">Content</th>
                    </tr>
                    <tr>
                        <th>Bank Account, IFSC & GST/PAN: </th>
                        <td class="bankaccount-ifsc-content" colspan="2">
                            <strong>Bank Account, IFSC & GST/PAN:</strong><br/>
                            <%= element.BankAccountAndIfsc %> 
                        </td>                                       
                    </tr>
                    
                    <tr>
                        <th>Email Id: </th>
                        <td class="emailid-content" colspan="2">                            
                            <p>
                                <%= element.EmailId %>
                            </p>
                             
                        </td>                                       
                    </tr>
                    <tr>
    
                        <tr>
                            <th colspan="3">Designing Features Selected</th>                    
                        </tr>
                        
                        <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Cost</th></tr>
                        <tr>                    
                            <td class="websitebackground"><%= element.WebsiteBackground %></td>                    
                            <td class="websitebackground-content-estimated-time">
                                <% if(element.WebsiteBackground) { %>
                                    <%= element.WebsiteBackgroundEstimatedTime %> 
                                <% } %> 
                            </td>
                            <td class="websitebackground-price">
                                <% if(element.WebsiteBackground && element.WebsiteBackground.substring(0, 37) == 'I want Background-Color in my Website') { %>
                                    <%= element.WebsiteBackgroundColorPrice %> 
                                <% } %>
                                <% if(element.WebsiteBackground && element.WebsiteBackground.substring(0, 37) == 'I want Background-Image in my Website'){ %>
                                    <%= element.WebsiteBackgroundImagePrice %>
                                <% } %>
                            </td>                    
                           
                        </tr>
                    
                        <tr>
                            <th colspan="3">Designing Features Content</th>
                        </tr>
                        <tr>
                            <th>Name</th><th colspan="2">Content</th>
                        </tr>
                        
                        <tr>
                            <th rowspan="2">Website Background-Color & Text  Color: </th>
                            <td class="websitebackgroundcolor-content"  colspan="2">
                                <strong>Background Color Code Selected:</strong><span class="background-color-code"><%= element.WebsiteBackgroundColor %></span><br/>
                                <strong>Text Color Code Selected:</strong><span class="text-color-code"><%= element.TextColor %> </span><br/>                                
                                
                            </td>                                       
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Website Color Demo:</strong><br/>
                                
                                <div class="background-color" style= " width: 80%; height: auto; margin: .8em auto .8em auto; border: none; border-radius: 5px;">
                                    <p style="text-align: center; padding: .8em; font-size: 1em;">
                                        This is how your website will look like
                                    </p>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <th rowspan="2">Website Background-Image Details: </th>
                            <td class="websitebackgroundimage-content" colspan="2">
                                <strong>Background Image Name: </strong><br/>
                                <%= element.WebsiteBackgroundImage %> 
                            </td>                                       
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Background Image Demo:</strong><br/>
                                <img src="./uploads/<%= element.WebsiteBackgroundImage %>" width="100px" height="100px" alt="Selected Website Background Image"/>
                            </td>
                        </tr>
        
    <!--
                        <tr>
                            <th rowspan="2">Text-Color Details: </th>
                            <td class="textcolor-content" colspan="2">
                                <strong>Color Code:</strong><br/>
                                <%= element.TextColor %> 
                            </td>                                       
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Text Color Demo:</strong><br/>
                                <div style="width: 100%; height: 50px; color: red;">
                                    Color of this text is selected text color
                                </div>
                            </td>
                        </tr>  
                  -->  
                        <tr>
                            <th colspan="3">Other Features & Services</th>
                        </tr>
                        <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Service Cost</th></tr>
                    <tr>                    
                        <td class="emailservice"><%= element.EmailService %></td>                    
                        <td class="email-service-estimated-time">
                            <% if(element.EmailService ) { %>
                                <%= element.EmailServiceEstimatedTime %> 
                            <% } %> 
                        </td>
                        <td class="email-service-price">
                            <% if(element.EmailService ) { %>
                                <%= element.EmailServicePrice %> 
                            <% } %> 
                        </td>                    
                       
                    </tr>   
                    <tr>                    
                        <td class="messageservice"><%= element.MessageService %></td>                    
                        <td class="message-service-estimated-time">
                            <% if(element.MessageService ) { %>
                                <%= element.MessageServiceEstimatedTime %> 
                            <% } %> 
                        </td>
                        <td class="message-service-price">
                            <% if(element.MessageService ) { %>
                                <%= element.MessageServicePrice %> 
                            <% } %> 
                        </td>                    
                       
                    </tr>   
                    <tr>                    
                        <td class="databaseservice"><%= element.DataBase %></td>                    
                        <td class="database-service-estimated-time">
                            <% if(element.DataBase ) { %>
                                <%= element.DataBaseEstimatedTime %> 
                            <% } %> 
                        </td>
                        <td class="database-service-price">
                            <% if(element.DataBase ) { %>
                                <%= element.DataBasePrice %> 
                            <% } %> 
                        </td>                    
                       
                    </tr>                    
                        
                    <tr>
                        <th colspan="3">Uploads</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="container image-container">
                                <div class="column col-1">
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 1"/>
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 2"/>
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 3"/>

                                </div>
                                <div class="column col-2">
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 4"/>
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 5"/>
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 6"/>
                                </div>
                                <div class="column col-3">
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 7"/>
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 8"/>
                                    <img src="./uploads/<%= element.ExtraUploadedFilesNameOne %> " width="200px" height="180px" alt="Uploaded Image 9"/>
                                </div>
                            </div>
                                                        
                            
                            <img src="#" width="150px" height="150px" alt="Uploaded Image 2"/> 
                            <img src="#" width="150px" height="150px" alt="Uploaded Image 3"/> 
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3">Additional</th>
                    </tr>
                    <tr>
                        <th>Name</th><th colspan="2">Content</th>
                    </tr>
                    <tr>
                        <th>Website's Brief Description: </th>
                        <td class="website-brief-description" colspan="2">
                            <p>
                                <%= element.WebsiteBriefDescription %> 
                            </p>                            
                        </td>                                       
                    </tr>
                    <tr>
                        <th>Include: </th>
                        <td class="include" colspan="2">
                            <p>
                                <%= element.Include %> 
                            </p>                            
                        </td>                                       
                    </tr>
                    <tr>
                        <th>Do Not Include: </th>
                        <td class="do-not-include" colspan="2">
                            <p>
                                <%= element.DoNotInclude %> 
                            </p>                            
                        </td>                                       
                    </tr>

                    <tr>
                        <th colspan="3">Other Charges</th>
                    </tr>
                    <tr>
                        <th>Other Charges: </th>
                        <td>
                            
                        </td>
                        <td class="other-charges" colspan="2">
                            <% if(element.OtherCharges) { %>
                                <%= element.OtherCharges %> 
                            <% } else { %>
                                <%= 0  %> 
                            <% } %>                            
                        </td>                                       
                    </tr>

                    <tr>
                        <th colspan="3">Discount</th>
                    </tr>
                    <tr>
                        <th>Discount: </th>
                        <td>                            
                        </td>
                        <td class="discount" colspan="2">
                            <span>$0.00</span>                         
                        </td>                                       
                    </tr>

                    <tr>
                        <th colspan="3">Total</th>
                    </tr>
                    
                    <tr>
                        <td class="total-price">
                            Total: 
                        </td>
                        <td>
                            ...Days (Estimated)
                        </td>
                        <td>
                            <span class="cart-total-price ">
                                <% var total = 0; %> 
                                <% if(element.TemplateOption && element.TemplateOption != 'Select Template') { %>
                                    <% var templatePrice = parseFloat(element.TemplateOptionPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% templatePrice = 0; %> 
                                 <% } %>
                                 <% if(element.Home) { %>
                                    <% var homePagePrice = parseFloat(element.HomePagePrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% homePagePrice = 0; %> 
                                 <% } %>
                                 <% if(element.About) { %>
                                    <% var aboutPrice = parseFloat(element.AboutPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% aboutPrice = 0; %> 
                                 <% } %>
                                 <% if(element.Services) { %>
                                    <% var servicesPrice = parseFloat(element.ServicesPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% servicesPrice = 0; %> 
                                 <% } %>
                                 <% if(element.WhyUs) { %>
                                    <% var whyUsPrice = parseFloat(element.WhyUsPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% whyUsPrice = 0; %> 
                                 <% } %>
                                 <% if(element.ContactUs) { %>
                                    <% var contactUsPrice = parseFloat(element.ContactUsPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% contactUsPrice = 0; %> 
                                 <% } %>
                                 <% if(element.SocialMedia) { %>
                                    <% var socialMediaPrice = parseFloat(element.SocialMediaPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% socialMediaPrice = 0; %> 
                                 <% } %>
                                 <% if(element.Policy) { %>
                                    <% var policyPrice = parseFloat(element.PolicyPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% policyPrice = 0; %> 
                                 <% } %>
                                 <% if(element.TermsAndConditions) { %>
                                    <% var termsAndConditionsPrice = parseFloat(element.TermsAndConditionsPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% termsAndConditionsPrice = 0; %> 
                                 <% } %>
                                 <% if(element.CopyRight) { %>
                                    <% var copyRightPrice = parseFloat(element.CopyRightPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% copyRightPrice = 0; %> 
                                 <% } %>

                                 <% if(element.Logo && element.Logo.substring(0, 18) == 'I want to buy Logo') { %>
                                    <% var logoPurchasingPrice = parseFloat(element.LogoPurchasingPrice.replace('$', '')); %> 
                                  <% } else { %>
                                    <% logoPurchasingPrice = 0; %> 
                                 <% } %>

                                 <% if(element.Logo && element.Logo.substring(0, 18) == 'I have my own Logo') { %>
                                    <% var logoByCustomerPrice = parseFloat(element.LogoByCustomerPrice.replace('$', '')); %> 
                                  <% } else { %>
                                    <% logoByCustomerPrice = 0; %> 
                                 <% } %>
                                <!--External Features check-->
                                 <% if(element.Gallery) { %>
                                    <% var galleryPrice = parseFloat(element.GalleryPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% galleryPrice = 0; %> 
                                 <% } %>
                                 <% if(element.Templates) { %>
                                    <% var templatesFeaturePrice = parseFloat(element.TemplatesFeaturePrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% templatesFeaturePrice = 0; %> 
                                 <% } %>
                                 <% if(element.Menu) { %>
                                    <% var menuPrice = parseFloat(element.MenuPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% menuPrice = 0; %> 
                                 <% } %>
                                 <!--Advanced Features Check-->
                                 <% if(element.RegisterLogin) { %>
                                    <% var registerLogInPrice = parseFloat(element.RegisterLoginPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% registerLogInPrice = 0; %> 
                                 <% } %>
                                 <% if(element.ContactUsForm) { %>
                                    <% var contactUsWithFormPrice = parseFloat(element.ContactUsWithFormPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% contactUsWithFormPrice = 0; %> 
                                 <% } %>
                                 <% if(element.PaymentMethod) { %>
                                    <% var paymentMethodPrice = parseFloat(element.PaymentMethodPrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% paymentMethodPrice = 0; %> 
                                 <% } %>
                                 <!--Designing-->
                                 <% if(element.WebsiteBackground && element.WebsiteBackground.substring(0, 37) == 'I want Background-Color in my Website') { %>
                                    <% var websiteBackgroundColorPrice = parseFloat(element.WebsiteBackgroundColorPrice.replace('$', '')); %> 
                                  <% } else { %>
                                    <% websiteBackgroundColorPrice = 0; %> 
                                 <% } %>

                                 <% if(element.WebsiteBackground && element.WebsiteBackground.substring(0, 37) == 'I want Background-Image in my Website') { %>
                                    <% var websiteBackgroundImagePrice = parseFloat(element.WebsiteBackgroundImagePrice.replace('$', '')); %> 
                                  <% } else { %>
                                    <% websiteBackgroundImagePrice = 0; %> 
                                 <% } %>
                                <!--Other Features or Services-->
                                <% if(element.EmailService) { %>
                                    <% var emailServicePrice = parseFloat(element.EmailServicePrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% emailServicePrice = 0; %> 
                                 <% } %>
                                 <% if(element.MessageService) { %>
                                    <% var messageServicePrice = parseFloat(element.MessageServicePrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% messageServicePrice = 0; %> 
                                 <% } %>
                                 <% if(element.DataBase) { %>
                                    <% var dataBasePrice = parseFloat(element.DataBasePrice.replace('$', '')); %> 
                                                           
                                <% } else { %>
                                        <% dataBasePrice = 0; %> 
                                 <% } %>
                                 <!--Other Charges check-->
                                 <% if(element.OtherCharges) { %>
                                    <% var otherChargesPrice = parseFloat(element.OtherCharges/*.replace('$', '')*/); %> 
                                                           
                                <% } else { %>
                                        <% otherChargesPrice = 0; %> 
                                 <% } %>
                                <% var discount = 0; %> 

                                <!-- Total: --><%= '$ ' + (total + templatePrice + homePagePrice + aboutPrice + servicesPrice + whyUsPrice + contactUsPrice + socialMediaPrice + policyPrice + termsAndConditionsPrice + copyRightPrice + logoPurchasingPrice + logoByCustomerPrice + galleryPrice + templatesFeaturePrice + menuPrice + registerLogInPrice + contactUsWithFormPrice + paymentMethodPrice + websiteBackgroundColorPrice + websiteBackgroundImagePrice + emailServicePrice + messageServicePrice + dataBasePrice + otherChargesPrice - discount);%>
                                
                            </span>
                        </td>                 
                    </tr>                    
                    <caption>
                        
                    </caption>
                    
                    
                </table> 
      

    </div><!--cart-row ends here-->
            <a class="table-caption-anchor" href="#">Add-More</a>
            <a class="table-caption-anchor" href="#">Edit-Order</a>
            <a class="table-caption-anchor confirm-before-delete-anchor" style="cursor: pointer;" >Remove</a>

                <!--<button type="button" id="checkout-button" class="checkout-btn proceed-to-checkout purchase" >Proceed To Checkout</button> -->
                <button type="button" class="checkout-button proceed-to-checkout purchase" >Proceed To Checkout</button> 
                
                                 <!-- Delete Confirmation Modal starts here-->          
    <div class="modal-parent-confirmation-before-delete">
        <div class="modal-confirmation-before-delete">
            <h1>Are you sure, you want to delete this?</h1>
            <br/><br/>

            <!--<button class="delete-it-button" type="submit">Delete</button><br/>-->
            
                <form id="delete-form" method="POST" role="form">                    
                    <button class="delete-anchor delete-it-button" type="submit">Delete</button>                   
                </form><br/>        
              

              <!--<a href="../dashboardcart/:" style="list-style: none; cursor: pointer;" class="yes-delete-it">Yes</a>-->
                
              <button style="cursor: pointer;" onclick="closeConfirmBeforeDeleteModal()">No</button><br/><br/>
                                                                      
            <span class="X-confirmation-before-delete" onclick="closeConfirmBeforeDeleteModal()">&times;</span>
        </div>
      </div>
      <!-- Delete Confirmation Modal ends here-->
  
    
                    <script> 
                    // exactly correct one commented
                    var confirmBeforeDeleteAnchors = document.getElementsByClassName('confirm-before-delete-anchor');
                    for(var i = 0; i < confirmBeforeDeleteAnchors.length; i++) {
                        var confirmBeforeDeleteAnchor = confirmBeforeDeleteAnchors[i];
                    }
                        confirmBeforeDeleteAnchor.addEventListener('click', confirmBeforeDeleteAnchorClicked );

                        function confirmBeforeDeleteAnchorClicked(event) {
                            var currentConfirmBeforeDeleteAnchorClicked = event.target;
                            var fatherOfCurrentConfirmBeforeDeleteAnchorClicked = currentConfirmBeforeDeleteAnchorClicked.parentElement
                            var itemIdForThisAnchorClicked = fatherOfCurrentConfirmBeforeDeleteAnchorClicked.getElementsByClassName('item-id')[0].innerText;
                            var deleteFormAttribute = `/dashboardcart/delete/${itemIdForThisAnchorClicked}`;
                            var getConfirmAndDeleteForm = document.getElementById('delete-form');
                                getConfirmAndDeleteForm.setAttribute('action', deleteFormAttribute); 
                             
                              alert(`Item Id/${itemIdForThisAnchorClicked}`);  
                              openConfirmBeforeDeletingDashboardCartItem()

                                //var deleteItButton = document.getElementsByClassName('delete-it-button')[0];
                                //deleteItButton.addEventListener('click', deleteItButtonFunction);
                                
                            //} 
                        }

                        function openConfirmBeforeDeletingDashboardCartItem() {
                        var parentModalConfirmBeforeDelete = document.querySelector('.modal-parent-confirmation-before-delete');
                        parentModalConfirmBeforeDelete.style.display = 'block';
                        parentModalSignin.style.display = 'none';
                        parentModalSignup.style.display = 'none';
                        //closing sidenav when contact is clicked
                        sidenavParent.style.width = '0';
                        sideNav.style.width = '0';
                        iconBarButton.style.display = 'block';
                        //Scroll to top
                        document.body.scrollTop = 0; //For Safari
                        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

                    }                     
                      //exactly correct one commented  
                    </script>   
                    <script type="text/javascript">
                    // Exactly correct one commented
                        // Create an instance of the Stripe object with your publishable API key
                        // stripe test public key
                        var stripe = Stripe("pk_test_51ItREQSEMkQETB1SIhw1E634RliTARxiTgCe8ZOOPq1eT8ML64MRD7kzg7GAVgu62ljneLaCAR1qPs3G1fnHjwZd00jeF9qn13");
                        // 
                        //stripe live public key
                        //var stripe = Stripe("pk_live_51ItREQSEMkQETB1SWI20SFaXTAUBlpIaby9ChvHf7fOvcfxRXFM7VJiLXD25nuf5MuO9eI5QN5nNm4QvjbfsJut500WD8B2a6t");
                        //
                        //var checkoutButton = document.getElementById("checkout-button");
                    
                        var checkoutButtons = document.getElementsByClassName('checkout-button');
                        for(var i = 0; i < checkoutButtons.length; i++) {
                            var checkoutButton = checkoutButtons[i];                            
                        }
                         // Exactly Correct One Prebuilt
                        checkoutButton.addEventListener("click", function (event) {
                            //get item id for current checkoutButton
                            var currentCheckOutButton = event.target;
                            var fatherOfCurrentCheckoutButton = currentCheckOutButton.parentElement;
                            var itemId = fatherOfCurrentCheckoutButton.getElementsByClassName('item-id')[0].innerText;
                        
                         //get total price for current checkoutButton
                        var cartTotalPrice = parseFloat(fatherOfCurrentCheckoutButton.getElementsByClassName('cart-total-price')[0].innerText.replace('$', ''));

                          fetch("/create-checkout-session", {
                            method: "POST",

                            // sending order id and order price to index.js for further process
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({orderId: itemId, orderPrice: cartTotalPrice})
                           //
                          })
                            .then(function (response) {
                              return response.json();
                            })
                            .then(function (session) {
                              return stripe.redirectToCheckout({ sessionId: session.id });
                            })
                            .then(function (result) {
                              // If redirectToCheckout fails due to a browser or network
                              // error, you should display the localized error message to your
                              // customer using error.message.                              
                              if (result.error) {
                                alert(result.error.message);
                              } 
                              
                            })                                        
                            .catch(function (error) {
                              console.error("Error:", error);
                            }) 
                            //
                            /* experimental
                            fetch('/dashboardcart',  {
                            method: "post",

                            // sending order id and order price to index.js for further process
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({orderI: 'vipin id'})
                            //body: JSON.stringify({orderId: itemId, orderPrice: cartTotalPrice})
                          
                            //
                          })
                          .then(function (response) {
                              return response.json();
                            })
                            .catch(function (error) {
                              console.error("Error:", error);
                            })
                             */
                          //


                        });
                        //exactly correct one prebuilt 
                         //Exactly correct one commented 
                      </script>
                      <script>                          
                          
                          var allTables = document.getElementsByClassName('table-class');
                         for (let index = 0; index < allTables.length; index++) {
                              const table = allTables[index];                        
                           
                            var getCurrentTableBackGroundColorCode = table.getElementsByClassName('background-color-code')[0].innerText;
                            var getCurrentTableTextColorCode = table.getElementsByClassName('text-color-code')[0].innerText;
                            var backgroundColorDiv = table.getElementsByClassName('background-color')[0]
                          
                            backgroundColorDiv.style.background= getCurrentTableBackGroundColorCode;
                            backgroundColorDiv.style.color = getCurrentTableTextColorCode;
                          
                        }
                        //document.getElementById('all-color-codes').innerHTML = getCurrentTableTextColorCode;


                          /*
                          var allColorCodes = [];
                          allColorCodes = document.getElementsByClassName('background-color-code');
                          var text = "";
                          var i;
                          for (i = 0; i < allColorCodes.length; i++) {
                          text += allColorCodes[i] + "<br>";
                        }
                            
                            
                            document.getElementById('all-color-codes').innerHTML = typeof allColorCodes;
                            //var backgroundColorCode = document.getElementsByClassName('background-color-code')[0].innerText;                            
                            //document.getElementsByClassName('background-color')[0].style.background= backgroundColorCode;
                     
                        */
                      </script>                           
            </div> <!--cart-items end here-->           
           
            
            
            <!-- Created by Vipin Kamboj
            <button type="button" id="checkout-button" class="each-button purchase" onclick="createCheckOutSession()">Checkout</button>
            -->
            
            <script >
                //
                // update cart orders number
var getAllPurchaseButtons = document.getElementsByClassName('purchase');
var numberOfTotalpurchaseButtons = getAllPurchaseButtons.length;
document.getElementsByClassName('cart-items-number')[0].innerText = numberOfTotalpurchaseButtons;             
document.getElementsByClassName('cart-items-number')[1].innerText = numberOfTotalpurchaseButtons;             

                //
               /* var total = 0;
                // some correct one
                var cartItemContainer = document.getElementsByClassName('cart-items')[0];
                var cartRows = cartItemContainer.getElementsByClassName('cart-row');
                //var cartRows = document.getElementsByClassName('cart-row');
                for(var i = 0; i < cartRows.length; i++) {
                    var cartRow = cartRows[i];
                    var templatePriceElement = cartRow.getElementsByClassName('template-price')[0];
                    var templatePrice = parseFloat(templatePriceElement.innerHTML.replace('$', ''));
                    var homePagePriceElement = cartRow.getElementsByClassName('homepage-price')[0];
                    var homePagePrice = parseFloat(homePagePriceElement.innerHTML.replace('$', ''));

                    total = total + templatePrice + homePagePrice;
                    //cartRow.getElementsByClassName('cart-total-price')[0].innerText ='$ ' + total;
                }

                total = Math.round(total * 100) / 100
                document.getElementsByClassName('cart-total-price')[0].innerText = '$' + total

                //var templatePrice = 4000;
                //var customerGivenTemplatePrice = 0;
                
            

                // show price and selected icon for each order table 
                /* correct one
                var getAllTables = document.getElementsByTagName('table');                
                var i;
                var outPut ='';
                var getAllTablesLength = getAllTables.length;
                
                for(i = 0; i < getAllTablesLength; i++ ) {
                    outPut += getAllTables[i];
                    var currentTable = getAllTables[i];
                    var currentTableTemplateHTML = currentTable.getElementsByClassName('template-option').innerHTML 

                    if(currentTableTemplateHTML > 0) {
                        document.getElementsByClassName('template-price')[0].innerHTML = '4000';
                    }
                    
                    
                }


*/              var allTables = document.getElementsByTagName('table');
                var i;
                var allTablesLength = allTables.length;
                for(i = 0; i < allTablesLength; i++) {
                    // template price and template selected icon showing
                    /* commented for now
                    var templateOption = allTables[i].getElementsByClassName('template-option')[0].innerHTML;
                if(templateOption.length > 0 && templateOption != 'Select Template') {
                    allTables[i].getElementsByClassName('template-completing-estimated-time')[0].innerHTML = '16:00';
                    allTables[i].getElementsByClassName('template-price')[0].innerHTML = templatePrice;
                    //allTables[i].getElementsByClassName('template-selected-icon')[0].style.display = 'block'
                }  

                // homepage price and template selected icon showing
                
                var homePage = allTables[i].getElementsByClassName('homepage')[0].innerHTML;
                //var homePageContent = allTables[i].getElementsByClassName('homepage-content')[0].innerHTML;   
                if(homePage) {
                        allTables[i].getElementsByClassName('homepage-content-estimated-time')[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('homepage-price')[0].innerHTML = '2000';
                       // allTables[i].getElementsByClassName('homepage-selected-icon')[0].innerHTML = "&#9989;";
                    }
                    
                // aboutpage price and template selected icon showing
               var aboutPage = allTables[i].getElementsByClassName('aboutpage')[0].innerHTML;
               //var aboutPageContent = allTables[i].getElementsByClassName('aboutpage-content')[0].innerHTML     
               if(aboutPage) {
                        allTables[i].getElementsByClassName('aboutpage-content-estimated-time')[0].innerHTML = '4:00'
                        allTables[i].getElementsByClassName('aboutpage-price')[0].innerHTML = '2000';
                        //allTables[i].getElementsByClassName('aboutpage-selected-icon')[0].innerHTML = '&#9989;';
                    }

                // servicespage price and template selected icon showing
                var servicesPage = allTables[i].getElementsByClassName('servicespage')[0].innerHTML;
                    if(servicesPage) {
                        allTables[i].getElementsByClassName('servicespage-price')[0].innerHTML = '3000';
                        allTables[i].getElementsByClassName('servicespage-content-estimated-time')[0].innerHTML = '6:00';
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }              
                             

                // whyuspage price and template selected icon showing
                var whyusPage = allTables[i].getElementsByClassName('whyuspage')[0].innerHTML;
                    if(whyusPage) {
                        allTables[i].getElementsByClassName('whyuspage-content-estimated-time')[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('whyuspage-price')[0].innerHTML = '2000';
                        //allTables[i].getElementsByClassName('whyuspage-selected-icon')[0].style.display = 'block';
                    }

                // contactpage price and template selected icon showing
                var contactUsPage = allTables[i].getElementsByClassName('contactuspage')[0].innerHTML;
                    if(contactUsPage) {
                        allTables[i].getElementsByClassName('contactuspage-content-estimated-time')[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('contactuspage-price')[0].innerHTML = '2000';
                        
                        //allTables[i].getElementsByClassName('whyuspage-selected-icon')[0].style.display = 'block';
                    }


                // socialmediafeature price and template selected icon showing
                var socialmediafeature = allTables[i].getElementsByClassName('socialmediafeature')[0].innerHTML;
                    if(socialmediafeature) {
                        allTables[i].getElementsByClassName('socialmediafeature-content-estimated-time')[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('socialmediafeature-price')[0].innerHTML = '2000';
                        //allTables[i].getElementsByClassName('social-media-feature-selected-icon')[0].style.display = 'block';
                    }

                // policypage price and template selected icon showing
                var policyPage = allTables[i].getElementsByClassName('policypage')[0].innerHTML;
                    if(policyPage) {
                        allTables[i].getElementsByClassName('policypage-content-estimated-time')[0].innerHTML = '6:00';
                        allTables[i].getElementsByClassName('policypage-price')[0].innerHTML = '3000';
                        //allTables[i].getElementsByClassName('policypage-selected-icon')[0].style.display = 'block';
                    }


                // termsandconditions price and template selected icon showing
                var termsandConditions = allTables[i].getElementsByClassName('termsandconditions')[0].innerHTML;
                    if(termsandConditions) {
                        allTables[i].getElementsByClassName('termsandconditions-content-estimated-time')[0].innerHTML = '6:00';
                        allTables[i].getElementsByClassName('termsandconditions-price')[0].innerHTML = '3000';
                        //allTables[i].getElementsByClassName('terms-and-conditions-selected-icon')[0].style.display = 'block';
                    }

                // copyright price and template selected icon showing
                var copyRight = allTables[i].getElementsByClassName('copyright')[0].innerHTML;
                    if(copyRight) {
                        allTables[i].getElementsByClassName('copyright-content-estimated-time')[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('copyright-price')[0].innerHTML = '2000';
                        //allTables[i].getElementsByClassName('copy-right-selected-icon')[0].style.display = 'block';
                    }
                    
                // logopurchasing price and template selected icon showing
                var logoSelecting = allTables[i].getElementsByClassName('logo')[0].innerHTML;
                var logoSelectingSubString = logoSelecting.substring(0, 18)
                    if(logoSelectingSubString == "I want to buy Logo") {
                        allTables[i].getElementsByClassName('logo-estimated-time')[0].innerHTML = '6:00';
                        allTables[i].getElementsByClassName('logo-price')[0].innerHTML = '3000';
                        //allTables[i].getElementsByClassName('logo-purchasing-selected-icon')[0].style.display = 'block';
                    }

                //External Features javascript
                // Gallery Feature price and template selected icon showing
                var galleryFeature = allTables[i].getElementsByClassName('galleryfeature')[0].innerHTML;
                    if(galleryFeature) {   
                        allTables[i].getElementsByClassName('galleryfeature-content-estimated-time')[0].innerHTML = '16:00';     
                        allTables[i].getElementsByClassName('galleryfeature-price')[0].innerHTML = '9000';                        
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }

                // Templates Feature price and template selected icon showing
                var templatesFeature = allTables[i].getElementsByClassName('templatesfeature')[0].innerHTML;
                    if(templatesFeature) {   
                        allTables[i].getElementsByClassName('templatesfeature-content-estimated-time')[0].innerHTML = '16:00';     
                        allTables[i].getElementsByClassName('templatesfeature-price')[0].innerHTML = '9000';                        
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }

                    // Menu Page price and template selected icon showing
                var menuPage = allTables[i].getElementsByClassName('menupage')[0].innerHTML;
                    if(menuPage) {   
                        allTables[i].getElementsByClassName('menupage-content-estimated-time')[0].innerHTML = '16:00';     
                        allTables[i].getElementsByClassName('menupage-price')[0].innerHTML = '8500';                        
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }
                    // Advanced Features javascript

                     // register login page Page price and template selected icon showing
                var registerLoginPage = allTables[i].getElementsByClassName('registerloginpage')[0].innerHTML;
                    if(registerLoginPage) {   
                        allTables[i].getElementsByClassName('registerloginpage-content-estimated-time')[0].innerHTML = '24:00';     
                        allTables[i].getElementsByClassName('registerloginpage-price')[0].innerHTML = '10000';                        
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }
          
                       // Contact Us With Form Page price and template selected icon showing
                var contactUsWithForm = allTables[i].getElementsByClassName('contactuswithform')[0].innerHTML;
                    if(contactUsWithForm) {   
                        allTables[i].getElementsByClassName('contactuswithform-content-estimated-time')[0].innerHTML = '16:00';     
                        allTables[i].getElementsByClassName('contactuswithform-price')[0].innerHTML = '9000';                        
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }


                       // Payment Method page Page price and template selected icon showing
                var paymentMethod = allTables[i].getElementsByClassName('paymentmethod')[0].innerHTML;
                    if(paymentMethod) {   
                        allTables[i].getElementsByClassName('paymentmethod-content-estimated-time')[0].innerHTML = '30:00';     
                        allTables[i].getElementsByClassName('paymentmethod-price')[0].innerHTML = '13000';                        
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }
commented for now*/
                    // Designing javascript

                    // Website Background color and image price and template selected icon showing
                var websiteBackground = allTables[i].getElementsByClassName('websitebackground')[0].innerHTML;
                /*var websiteBackgroundSubString = websiteBackground.substring(0, 37); 
                
                if(websiteBackgroundSubString == "I want Background-Color in my Website") {
                    var backgroundColor = allTables[i].getElementsByClassName('bakgroundcolor')[0];
                    //allTables[i].getElementsByClassName('websitebackground-content-estimated-time')[0].innerHTML = websiteBackgroundSubString;     
                    //allTables[i].getElementsByClassName('websitebackground-content-estimated-time')[0].innerHTML = '2:00';     
                    //allTables[i].getElementsByClassName('websitebackground-price')[0].innerHTML = '-';                        

                }*/
                if(websiteBackground) {   
                        allTables[i].getElementsByClassName('websitebackground-content-estimated-time')[0].innerHTML = '2:00';     
                        allTables[i].getElementsByClassName('websitebackground-price')[0].innerHTML = '-';                        
                        
                    }

                    //website text color javasctipt
                var websiteTextColor = allTables[i].getElementsByClassName('websitetextcolor')[0].innerHTML;
                if(ebsiteTextColor) {   
                        allTables[i].getElementsByClassName('websitetextcolor-content-estimated-time')[0].innerHTML = '2:00';     
                        allTables[i].getElementsByClassName('websitetextcolor-price')[0].innerHTML = '-';                        
                        
                    }

                    
                    //
                    var cartTotal = 0 + templatePrice;
                    allTables[i].getElementsByClassName('cart-total')[0].innerHTML = cartTotal;

                }   
                
            </script>

            <% }); %>

        <% } %>
        
        <!--Modal-->
        
         
         
                  
    </div>
</div>
<%- include('modal') %>

<%- include('dashboardfooter') %>





