<%- include('dashboardheaderadmin') %>

<div class="item item3 main ">
    <div class="container welcome admin" ><!--welcome css working in this-->
        <% if(msg != '') {%> 
            <h1 style="color: whitesmoke"> <%= msg %> </h1>  
        <% } %>
        <br/><br/><br/><br/>
        <h2>Dashboard Admin</h2>
        <h2>Admin Staff Only</h2> 
          
    </div> 
</div>
<%- include('modal') %>
<%- include('modaladmin') %> 
<%- include('dashboardfooteradmin') %>




