<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome admin" ><!--welcome css working in this-->
        <% if(msg != '') {%> 
            <h1 style="color: whitesmoke"> <%= msg %> </h1>  
          <% } %>
        <br/><br/><br/><br/>
        <h2>Dashboard Admin</h2>
        <h2>Admin Staff Only</h2> 
        <button class="each-button">Admin Staff Sign in</button> 
        <br/>
        <button class="each-button">Admin Staff Sign up</button>   
    </div>     

</div>
<%- include('modal') %>
<%- include('modaladmin') %> 
<%- include('footer') %>




