<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted dashboardfreelancepage" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') { %>
            <h2><%= msg %> </h2>
        <% } %> 
        <h2>Freelance Page</h2>        
            
        <div class="row row-1">
            <a href="#" onclick="openPostFreelanceJobModal()">Post a Job</a>
            <a href="#jobscontent">Find Work</a>
        </div> 
        <h2 style="padding: 2em;">Jobs List</h2>
        
        
        <% if(freelanceJobsData.length > 0) { %>
            <% freelanceJobsData.forEach((item) => { %>

               

        <div class="row row-2">
                                
            <table>
                <tr>
                    <th>Username</th><td class="current-freelance-job-username"><%= item.Username %></td>
                </tr>
                <tr>
                    <th>Job Id:</th><td class="current-freelance-job-id"><%= item._id %></td>
                </tr>
                <tr>
                    <th>Subject:</th><td><%= item.Subject %></td>
                </tr>
                <tr>
                    <th>Job Description:</th><td><%= item.Description %></td>
                </tr>
                <tr>
                    <th>Budget:</th><td><%= item.Budget %></td>
                </tr>
                <tr>
                    <th>Deadline:</th><td><%= item.Deadline %></td>
                </tr>
                <tr>
                    <th>Message:</th>
                    <td>
                        <button class="start-chat-button" onclick="openChatBoxModal()">Start Chat</button>

                     

                    </td>
                </tr>
                <!--
                <tr>
                    <th>Write Comment:</th>
                    <td>
                        
                        <form action="freelancejobscomments" method="POST" role="form">
                            
                            <input type="hidden" name="username" value= <%= item.Username %> />
                            <input type="hidden" name="freelancejobid" value= <%= item._id %> />
                            <textarea name="freelancejobcomment">

                            </textarea>
                            <br/><br/>
                            <input type="submit" value="Submit Comment"/>
                        </form>
                   
                    </td>
                </tr>
                 -->
            </table>
            <br/>           
                <!--Chat Box Modal starts here-->                          
                <div class="modal-parent-chatbox">
                    <div class="modal-chatbox">
                        <h1 style="text-align: center;">Chat Box</h1>
                        <div class="row row-1">                       
                            <div class="column column-1">                             
                                <div class="chatbox-1">
                                    <p>
                                        chatbox for user One
                                        <strong><em id="other-chat-user"></em></strong>
                                    </p>
                                    <div style="color: rgb(202, 71, 23);">
                                        <strong><em class="other-user" style="font-size: .5em;"></em></strong><br/>
                                        <strong><em class="freelance-job-id" style="font-size: .5em;"></em></strong>
                                    </div>
                                </div>                                                        
                                <br/>                                                             
                            </div>
                            
                            <div class="column column-2">

                                <div class="chatbox-2">
                                    <p>
                                        chatbox for me
                                        
                                    </p>
                                    <div style="color: orangered;">
                                        <strong><em style="font-size: .5em;"><%= loginUser %></em></strong><br/>
                                        <strong><em class="freelance-job-id" style="font-size: .5em;"></em></strong>
                                    </div>
                                </div>                           
                                <br/>
    
                            </div>                       
                        </div>
                        <div class="row row-2">
                            <div class="column column-1">
                                Chat
                            </div>
                            <div class="column column-2">
                                <form action="freelancejobscomments" method="POST" role="form">
                                
                                    <input id="username-input-value" type="hidden" name="username"/>
                                    <input id="freelancejobid-input-value" type="hidden" name="freelancejobid"/>
                                    <input type="text" name="freelancejobcomment" placeholder="Write Message" required/>
                                    <button type="submit">Send</button>
                                </form>
                            </div>                       
                        </div>
                
                        
                        <span class="X-chatbox" onclick="closeChatBoxModal()">&times;</span>
                    </div>
                </div>
                <br/>
               <script>
                   var startChatButtons = document.getElementsByClassName('start-chat-button');
    
                   for(var i = 0; i < startChatButtons.length; i++) {
                    var startChatButton = startChatButtons[i];
                   }
                   startChatButton.addEventListener('click', function(event) {
                    var currentChatButton = event.target;
                    var currentTable = currentChatButton.parentElement.parentElement.parentElement; 
                    var currentFreelanceJobUserName = currentTable.getElementsByClassName('current-freelance-job-username')[0].innerText;
                    var currentFreelanceJobId = currentTable.getElementsByClassName('current-freelance-job-id')[0].innerText;
                    document.getElementsByClassName('other-user')[0].innerText = currentFreelanceJobUserName;
                    document.getElementsByClassName('freelance-job-id')[0].innerText = currentFreelanceJobId;
                    document.getElementsByClassName('freelance-job-id')[1].innerText = currentFreelanceJobId;
                    document.getElementById('username-input-value').setAttribute('value', currentFreelanceJobUserName);
                    document.getElementById('freelancejobid-input-value').setAttribute('value', currentFreelanceJobId);
                   });
               </script>
    
                <!--Chat Box Modal ends here-->
    
        </div>  
        <% }) %>            
        <% } %>  
        
                
           
    
    </div>     

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




