<%- include('dashboardheader') %>

<div class="item item3 main cart">
    <div class="container dashboardcart" >
        <br/><br/>
        <h1>Welcome to Cart</h1>

        <p style="color: whitesmoke;" id="number-of-orders"></p>
        <h1><a href="/dashboardgetstarted">Order Here</a></h1><br/>

        <% if(msg !='') { %>
        <h1><%= msg %> </h1>
        <% } %>
                      
        <% if(currentCustomerAccountUserCartItems.length > 0){ %>
            
            <% currentCustomerAccountUserCartItems.forEach(element => { %>
                         
            <table>
                <caption style="color: whitesmoke; ">
                    Order Id: <%= element._id %><br/>
                    Date: <%= element.Date %>  
                </caption>
                <tr>
                    <th colspan="3">Cart Items</th>
                </tr>
                <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Cost</th></tr>
                <tr>
                    <td class="template-option"><%= element.TemplateOption %></td><td class="template-completing-estimated-time"></td><td class="template-price"></td>
                </tr>
                
                <tr>
                    <th colspan="3">Basic Features Selected</th>                    
                </tr>
                
                <tr><th>Name</th><th>Estimated Time (hrs.)</th><th>Cost</th></tr>
                <tr>                    
                    <td class="homepage"><%= element.Home %></td>                    
                    <td class="homepage-content-estimated-time"></td>
                    <td class="homepage-price"></td>                    
                   
                </tr>                
                <tr>
                    <td class="aboutpage"><%= element.About %></td>                    
                    <td class="aboutpage-content-estimated-time"></td>
                    <td class="aboutpage-price"></td>           
                    
               </tr>
                <tr>
                    <td class="servicespage"><%= element.Services %></td>
                    <td class="servicespage-content-estimated-time"></td>
                    <td class="servicespage-price"></td>
                    
                </tr>
                <tr>
                    <td class="whyuspage"><%= element.WhyUs %></td>
                    <td class="whyuspage-content-estimated-time"></td>
                    <td class="whyuspage-price"></td>
                </tr>
                
                <tr>
                    <td class="contactuspage"><%= element.ContactUs %></td>
                    <td class="contactuspage-content-estimated-time"></td>
                    <td class="contactuspage-price"></td>
                                    
                <tr>
                    <td class="socialmediafeature"><%= element.SocialMedia %></td>
                    <td class="socialmediafeature-content-estimated-time"></td>
                    <td class="socialmediafeature-price"></td>
                </tr>
                <tr>
                    <td class="policypage"><%= element.Policy %></td>
                    <td class="policypage-content-estimated-time"></td>
                    <td class="policypage-price"></td>
                    
                </tr>
                <tr>
                    <td class="termsandconditions"><%= element.TermsAndConditions %></td>
                    <td class="termsandconditions-content-estimated-time"></td>
                    <td class="termsandconditions-price"></td>
                </tr>
                <tr>
                    <td class="copyright"><%= element.CopyRight %></td>
                    <td class="copyright-content-estimated-time"></td>
                    <td class="copyright-price"></td>
                </tr>
                <tr>
                    <td class="logopurchasing"><%= element.LogoPurchasing %></td>
                    <td class="logopurchasing-estimated-time"></td>
                    <td class="logopurchasing-price"></td>
                </tr>

                <tr>
                    <th colspan="3">Basic Features Content</th>
                </tr>
                <tr>
                    <th>Name</th><th colspan="2">Content</th>
                </tr>
                <tr>
                    <th rowspan="2">Home Page Content: </th>
                    <td class="home-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.HomePageContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Home Content Image"/>
                    </td>
                </tr>
                
                <tr>
                    <th rowspan="2">About Content: </th>
                    <td class="about-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.AboutContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="About Content Image"/>
                    </td>
                </tr>

                <tr>
                    <th rowspan="2">Services Content: </th>
                    <td class="services-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.ServicesContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Services Content Image"/>
                    </td>
                </tr>

                <tr>
                    <th rowspan="2">Why Us Content: </th>
                    <td class="whyus-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.WhyUsContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Why Us Content Image"/>
                    </td>
                </tr>

                <tr>
                    <th>Address: </th>
                    <td class="address-content" colspan="2">
                        <strong>Address:</strong><br/>
                        <%= element.Address %> 
                    </td>                                       
                </tr>
                <tr>
                    <th >Phone Number: </th>
                    <td class="phone-content" colspan="2" >
                        <strong>Phone Number:</strong><br/>
                        <%= element.PhoneNumber %> 
                    </td>                                       
                </tr>
                

                <tr>
                    <th>Social Media Link: </th>
                    <td class="socialmedia-link" colspan="2"> 
                        <strong>Social Media Link: </strong><br/>                       
                        <%= element.SocialMediaLink %> <br/>
                    </td>                                       
                </tr>
                

                <tr>
                    <th rowspan="2">Policy Content: </th>
                    <td class="policy-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.PolicyContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Policy Content Image"/>
                    </td>
                </tr>



                <tr>
                    <th rowspan="2">Terms & Conditions Content: </th>
                    <td class="termsandconditions-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.TermsAndConditionsContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Terms And Conditions Content Image"/>
                    </td>
                </tr>

                <tr>
                    <th rowspan="2">Copy Right Content: </th>
                    <td class="copyright-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.CopyRightContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Copy Right Content Image"/>
                    </td>
                </tr>

                
                    <th colspan="3">External Features Content</th>
                </tr>
                
                <tr>
                    <th>Name</th><th colspan="2">Content</th>
                </tr>
                <tr>
                    <th rowspan="2">Photo Gallery Content: </th>
                    <td class="home-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.HomePageContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Home Content Image"/>
                    </td>
                </tr>

                <tr>
                    <th rowspan="2">Templates Feature Content: </th>
                    <td class="home-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.HomePageContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Menu Content:</strong><br/>
                        <img src="#" alt="Home Content Image"/>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">Photo Gallery Content: </th>
                    <td class="home-content" colspan="2">
                        <strong>Text Content:</strong><br/>
                        <%= element.HomePageContent %> 
                    </td>                                       
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>Uploaded Files Content:</strong><br/>
                        <img src="#" alt="Home Content Image"/>
                    </td>
                </tr>
                <th colspan="3">New Heading</th>
                
                
                <tr>
                    <td ><strong>Individual/Company Address:</strong>
                        <div class="address-content-container">
                            <span ><%= element.Address %></span>
                        </div>                        
                    </td>
                    <td class="address-content-price"></td>
                    <td ><span class="address-content-estimated-time"></span></td>
                    <td ><span class="address-content-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td ><strong>Individual/Company Phone Number:</strong>
                        <div class="phone-content-container">
                            <span ><%= element.PhoneNumber %></span>
                        </div>                        
                    </td>
                    <td class="phone-content-price"></td>
                    <td ><span class="phone-content-estimated-time"></span></td>
                    <td ><span class="phone-content-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td ><strong>Social Media Link:</strong>
                        <div class="social-media-content-container">
                            <span ><%= element.SocialMediaLink %></span>
                        </div>                        
                    </td>
                    <td class="social-media-content-price"></td>
                    <td ><span class="social-media-content-estimated-time"></span></td>
                    <td ><span class="social-media-content-selected-icon">&#9989;</span></td>
                </tr>              
                <tr>
                    <td ><strong>Policy Content:</strong>
                        <div class="policy-content-container">
                            <span ><%= element.PolicyContent %></span>
                        </div>                        
                    </td>
                    <td class="policy-content-price"></td>
                    <td ><span class="policy-content-estimated-time"></span></td>
                    <td ><span class="policy-content-selected-icon">&#9989;</span></td>
                </tr>             
               
                <tr>
                    <td ><strong>Terms & Conditions Content:</strong>
                        <div class="terms-and-conditions-content-container">
                            <span ><%= element.TermsAndConditionsContent %></span>
                        </div>                        
                    </td>
                    <td class="terms-and-conditions-content-price"></td>
                    <td ><span class="terms-and-conditions-content-estimated-time"></span></td>
                    <td ><span class="terms-and-conditions-content-selected-icon">&#9989;</span></td>
                </tr> 
                
                <tr>
                    <td ><strong>Copy right Content:</strong>
                        <div class="copy-right-content-container">
                            <span ><%= element.CopyRightContent %></span>
                        </div>                        
                    </td>
                    <td class="copy-right-content-price"></td>
                    <td ><span class="copy-right-content-estimated-time"></span></td>
                    <td ><span class="copy-right-content-selected-icon">&#9989;</span></td>
                </tr>  

                <tr>
                    <th colspan="4">External Features Selected</th>
                </tr>
                

                
                <tr>
                    <td class="contactuspluscontactformpage"><%= element.ContactUsForm %></td><td class="contactuspluscontactformpage-price">-</td><td></td><td ><span class="contactuspluscontactformpage-selected-icon">&#9989;</span></td>
                </tr>
                
                
                <tr>
                    <td class="logobycustomer"><%= element.LogoByCustomer %></td><td class="logobycustomer-price"></td><td></td><td ><span class="logo-by-customer-selected-icon">&#9989;</span></td>
                </tr>
                
               
                <th colspan="4">Undone</th>
                <tr>
                    <td class="gallerypage"><%= element.Gallery %></td><td class="gallerypage-price"></td><td></td><td ><span class="gallery-page-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td class="menupage"><%= element.Menu %></td><td class="menupage-price"></td><td></td><td ><span class="menu-page-selected-icon">&#9989;</span></td>
                </tr>







                <th colspan="4">Features Content</th>
                
                        
                <tr>
                    <td><span><strong>Background Color: </strong>  </span><br/><div style="width: 4em; height: 4em; background-color: whitesmoke"></div><%= element.BackgroundColor %>  </td><td>-</td><td></td><td ><span class="background-color-content-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><span><strong>Text Color: </strong>  </span><br/> <div style="color: teal;">Text Color Selected</div>  <%= element.TextColor %></td><td>-</td><td></td><td ><span class="text-color-content-selected-icon">&#9989;</span></td>
                </tr>
                
                <tr>
                    <td><span><strong>Logo Content By Customer:</strong>  </span><br/><%= element.LogoContentByCustomer %></td><td>-</td><td></td><td ><span class="logo-by-customer-content-selected-icon">&#9989;</span></td>
                </tr>
                
                
                <tr>
                    <td><span><strong>Gallery Content: </strong>  </span><br/>
                        <span class="gallery-content"><%= element.GalleryContent %></span>
                    </td><td class="gallery-content-price"></td>
                    <td></td>
                    <td ><span class="gallery-content-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><%= element.Templates %></td><td></td>
                </tr>
                <tr>
                    <td><span><strong>Templates Text Content:</strong>  </span><br/>
                        <span class="template-feature-text-content"><%= element.TemplatesTextContent %></span>
                    </td>
                    <td class="template-feature-text-content-price"></td>
                    <td></td>
                    <td ><span class="template-feature-text-content-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><span><strong>Templates Upload Content:</strong>  </span><br/>
                        <span class="template-feature-upload-content"><%= element.TemplatesUploadContent %></span>
                    </td>
                    <td class="template-feature-upload-content-price"></td>
                    <td></td>
                    <td ><span class="template-feature-upload-content-selected-icon">&#9989;</span></td>
                </tr>
               
                <tr>
                    <td><span><strong>Menu Content: </strong> </span><br/>
                        <span class="menu-content"><%= element.MenuContent %></span>
                    </td>
                    <td class="menu-content-price"></td>
                    <td></td>
                    <td ><span class="menu-content-selected-icon">&#9989;</span></td>
                </tr>
                
                <tr>
                    <td class="register-login"><%= element.RegisterLogin %></td>
                    <td class="register-login-price"></td>
                    <td></td>
                    <td ><span class="register-login-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td class="contact-us-form"><%= element.ContactUsForm %></td>
                    <td class="contact-us-form-price"></td>
                    <td></td>
                    <td ><span class="contact-us-form-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td class="payment-method"><%= element.PaymentMethod %></td>
                    <td class="payment-method-price"></td>
                    <td></td>
                    <td ><span class="payment-method-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><span>Payment Method Content: </span><br/>
                        <span class="payment-method-content"><%= element.PaymentMethodContent %></span>
                    </td>
                    <td>-</td>
                    <td></td>
                    <td ><span class="payment-method-content-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td class="email-service"><%= element.EmailService %></td>
                    <td class="email-service-price"></td>
                    <td></td>
                    <td ><span class="email-service-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td class="message-service"><%= element.MessageService %></td>
                    <td class="message-service-price"></td>
                    <td></td>
                    <td ><span class="message-service-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td class="data-base-service"><%= element.DataBase %></td>
                    <td class="data-base-service-price"></td>
                    <td></td>
                    <td ><span class="data-base-service-selected-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><span>Website Brief Description: </span><br/><%= element.WebsiteBriefDescription %></td><td>-</td><td></td><td ><span class="brief-description-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><span>I want to Include: </span><br/>
                        <span class="include-extra"><%= element.Include %></span>
                    </td>
                    <td class="include-extra-price"></td>
                    <td></td>
                    <td ><span class="include-extra-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <td><span>I do not want to Include: </span><br/><%= element.DoNotInclude %></td><td>-</td><td></td><td ><span class="do-not-include-message-icon">&#9989;</span></td>
                </tr>
                <tr>
                    <th colspan="4">Uploaded Files and Images</th>
                </tr>                
                <tr>
                    <td><span>Images: </span><br/>
                    <img src="../uploads/<%= element.UploadFilesName %> " alt="Uploaded File Name"/>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <th colspan="4">Services Charges</th>
                <tr>
                    <td><span>Service Charges: </span><br/></td>
                    <td class="service-charges"></td>
                    <td>-</td>
                    <td></td>

                </tr>
                <th colspan="4">Total</th>
                <tr>
                    <td class="total-price">Total %>  </td><td><span class="cart-total">Rs. </span></td><td>...Days</td><td><span class="payment-confirmation-notification">Unpaid <p class="vipinn"></p></span></td>                 
                </tr> 
                <tr>
                    <td colspan="4"><span>I accept the <a href="/dashboardtermsandconditions">Terms and Conditions</a> and I have read them carefully</span></td>
                </tr>
                <caption><a class="table-caption-anchor" href="#">Add-More</a><a class="table-caption-anchor" href="#">Edit-Order</a><a class="table-caption-anchor" href="#">Remove</a></caption> 
                              
            </table>            
            <button class="each-button purchase">Purchase</button>
            
            <script >
                
                var templatePrice = 4000;
                //var customerGivenTemplatePrice = 0;
                /*
                var homeContentPrice = 1000;
                var aboutContentPrice = 1000;
                var servicesContentPrice = 2000;
                var whyUsContentPrice = 1000;
                var policyContentPrice = 1000;
                var termsAndConditionsContentPrice = 1000;
                var copyRightContentPrice = 1000;
                var logoPurchasingPrice = 2000; 
                var galleryContentPrice = 3000;
                var templateFeatureTextContentPrice = 3000;
                var templateFeatureUploadContentPrice = 3000;                
                var menuContentPrice = 3000;
                var registerLoginPrice = 5000;
                var contactUsFormPrice = 3000;
                var paymentMethod = 5900;                
                var emailServicesPrice = 4000;
                var messageServicesPrice = 4000;
                var dataBaseServicePrice = 5900;
                var includeExtraPrice = 0;
                var serviceCharges = 3000;
               // var cartTotal = 0 + templatePrice + homeContentPrice + aboutContentPrice + servicesContentPrice + whyUsContentPrice + policyContentPrice + termsAndConditionsContentPrice + copyRightContentPrice + logoPurchasingPrice + galleryContentPrice + templateFeatureTextContentPrice + templateFeatureUploadContentPrice + menuContentPrice + registerLoginPrice + contactUsFormPrice + paymentMethod + emailServicesPrice + messageServicesPrice + dataBaseServicePrice + includeExtraPrice + serviceCharges;
                
                */
            // update cart orders number
                var getAllPurchaseButtons = document.getElementsByClassName('purchase');
                var numberOfTotalpurchaseButtons = getAllPurchaseButtons.length;
                document.getElementsByClassName('cart-items-number')[0].innerText = numberOfTotalpurchaseButtons;             
                document.getElementsByClassName('cart-items-number')[1].innerText = numberOfTotalpurchaseButtons;             


                // show price and selected icon for each order table 
                /* correct one
                var getAllTables = document.getElementsByTagName('table');                
                var i;
                var outPut ='';
                var getAllTablesLength = getAllTables.length;
                
                for(i = 0; i < getAllTablesLength; i++ ) {
                    outPut += getAllTables[i];
                    var currentTable = getAllTables[i];
                    var currentTableTemplateHTML = currentTable.getElementsByClassName('template-option').innerHTML 

                    if(currentTableTemplateHTML > 0) {
                        document.getElementsByClassName('template-price')[0].innerHTML = '4000';
                    }
                    
                    
                }


*/              var allTables = document.getElementsByTagName('table');
                var i;
                var allTablesLength = allTables.length;
                for(i = 0; i < allTablesLength; i++) {
                    // template price and template selected icon showing
                    var templateOption = allTables[i].getElementsByClassName('template-option')[0].innerHTML;
                if(templateOption.length > 0 && templateOption != 'Select Template') {
                    allTables[i].getElementsByClassName('template-completing-estimated-time')[0].innerHTML = '16:00';
                    allTables[i].getElementsByClassName('template-price')[0].innerHTML = templatePrice;
                    //allTables[i].getElementsByClassName('template-selected-icon')[0].style.display = 'block'
                }  

                // homepage price and template selected icon showing
                var homePage = allTables[i].getElementsByClassName('homepage')[0].innerHTML;
                //var homePageContent = allTables[i].getElementsByClassName('homepage-content')[0].innerHTML;   
                if(homePage) {
                        allTables[i].getElementsByClassName('homepage-content-estimated-time')[0].innerHTML = '2:00';
                        allTables[i].getElementsByClassName('homepage-price')[0].innerHTML = '2000';
                       // allTables[i].getElementsByClassName('homepage-selected-icon')[0].innerHTML = "&#9989;";
                    }

                // aboutpage price and template selected icon showing
               var aboutPage = allTables[i].getElementsByClassName('aboutpage')[0].innerHTML;
               //var aboutPageContent = allTables[i].getElementsByClassName('aboutpage-content')[0].innerHTML     
               if(aboutPage) {
                        allTables[i].getElementsByClassName('aboutpage-content-estimated-time')[0].innerHTML = '2:00'
                        allTables[i].getElementsByClassName('aboutpage-price')[0].innerHTML = '2000';
                        //allTables[i].getElementsByClassName('aboutpage-selected-icon')[0].innerHTML = '&#9989;';
                    }

                // servicespage price and template selected icon showing
                var servicesPage = allTables[i].getElementsByClassName('servicespage')[0].innerHTML;
                    if(servicesPage) {
                        allTables[i].getElementsByClassName('servicespage-price')[0].innerHTML = '2000';
                        allTables[i].getElementsByClassName('servicespage-content-estimated-time')[0].innerHTML = '4:00';
                        //allTables[i].getElementsByClassName('servicespage-selected-icon')[0].style.display = 'block';
                    }              
                             

                // whyuspage price and template selected icon showing
                var whyusPage = allTables[i].getElementsByClassName('whyuspage')[0].innerHTML;
                    if(whyusPage) {
                        allTables[i].getElementsByClassName('whyuspage-content-estimated-price')[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('whyuspage-price')[0].innerHTML = '2000';
                        //allTables[i].getElementsByClassName('whyuspage-selected-icon')[0].style.display = 'block';
                    }
/*
                // contact us page price and template selected icon showing
                var contactUsPage = allTables[i].getElementsByClassName('contactuspage')[0].innerHTML;
                    if(contactUsPage) {
                         allTables[i].getElementsByClassName()[0].innerHTML = '4:00';
                        allTables[i].getElementsByClassName('contactuspage-price')[0].innerHTML = '2000';
                        allTables[i].getElementsByClassName('contactuspage-selected-icon')[0].style.display = 'block';
                    }


                // socialmediafeature price and template selected icon showing
                var socialmediafeature = allTables[i].getElementsByClassName('socialmediafeature')[0].innerHTML;
                    if(socialmediafeature) {
                        allTables[i].getElementsByClassName('socialmediafeature-price')[0].innerHTML = '2000';
                        allTables[i].getElementsByClassName('social-media-feature-selected-icon')[0].style.display = 'block';
                    }

                // policypage price and template selected icon showing
                var policyPage = allTables[i].getElementsByClassName('policypage')[0].innerHTML;
                    if(policyPage) {
                        allTables[i].getElementsByClassName('policypage-price')[0].innerHTML = '2000';
                        allTables[i].getElementsByClassName('policypage-selected-icon')[0].style.display = 'block';
                    }

                // termsandconditions price and template selected icon showing
                var termsandConditions = allTables[i].getElementsByClassName('termsandconditions')[0].innerHTML;
                    if(termsandConditions) {
                        allTables[i].getElementsByClassName('termsandconditions-price')[0].innerHTML = '2000';
                        allTables[i].getElementsByClassName('terms-and-conditions-selected-icon')[0].style.display = 'block';
                    }

                // copyright price and template selected icon showing
                var copyRight = allTables[i].getElementsByClassName('copyright')[0].innerHTML;
                    if(copyRight) {
                        allTables[i].getElementsByClassName('copyright-price')[0].innerHTML = '2000';
                        allTables[i].getElementsByClassName('copy-right-selected-icon')[0].style.display = 'block';
                    }

                // logopurchasing price and template selected icon showing
                var logoPurchasing = allTables[i].getElementsByClassName('logopurchasing')[0].innerHTML;
                    if(logoPurchasing) {
                        allTables[i].getElementsByClassName('logopurchasing-price')[0].innerHTML = logoPurchasingPrice;
                        allTables[i].getElementsByClassName('logo-purchasing-selected-icon')[0].style.display = 'block';
                    }
*/



                }        

               

                


                
                
            </script>

            <% }); %>

        <% } %>    
         
                  
    </div>
</div>
<%- include('modal') %>

<%- include('dashboardfooter') %>





