<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome admin" ><!--welcome css working in this-->
        
        <% if(msg != '') {%> 
            <h1 style="color: whitesmoke"> <%= msg %> </h1>  
        <% } %>
        <h2>Employees Staff Only</h2>
        
        <button class="each-button" onclick="openSignInModal()">Employees Staff Sign in</button> 
        <br/>
        <button class="each-button" onclick="alert('Please Contact Us')">Employees Staff Sign up</button>   
    </div>     

</div>
<%- include('modal') %>
<%- include('modalemployees') %> 
<%- include('footer') %>




